<!DOCTYPE html>
<html>
<head></head>
<body>
<div class="card" >
  <p contenteditable="true">Congratulations! 🎉🎈</p>
  <div class="emoji-animation">✨💖🎊</div>
</div>
<style>
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;
    color: #fff;
    font-size: 48px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }
</style>


</body>
</html>