.main{
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

.card-pattern-title{
  color: black;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.card-container{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 16px;
  padding: 20px;
}
.card{
  background-color: gainsboro;
  color: white;
  font-size: 1.5rem;
  height: 300px;
  text-align: center;
  border-radius: 20px;
}

.go-back-button{
  position: fixed;     
  bottom: 20px;        
  left: 50%;          
  transform: translateX(-50%);  
  background-color: #0011E4;
  color: white;
  position: fixed;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .8px;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}
