.header{
  background-color: white;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
}
.right-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.logo-div, .about-us-div, .trending-div, .categories-div, .ai-generate-div, .right-header{
  display: flex;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .8px;
}
.log-in-button, .language-change-button{
  display: flex;
}

.log-in-button{
  background-color: #0011E4;
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-left: 5px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.language-change-button{
  background-color: #e9e9ea;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-right: 5px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.logo-div{
  width: auto; 
  height: 40px;
}


